# Credit Card Analysis of Czech Bank

### Authors:
1. Meylawati Marfuatin
2. Nur Inna Alfianinda

### Description: 
The Berka dataset is a collection of financial information from a Czech bank. The dataset deals with over 5,300 bank clients with approximately 1,000,000 transactions. Additionally, the bank represented in the dataset has extended close to 700 loans and issued nearly 900 credit cards, all of which are represented in the data. 

### Dataset: https://webpages.charlotte.edu/mirsad/itcs6265/group1/domain.html 

### Outline:
1. Data Extraction
2. Data Cleaning
3. Exploratory Data Analysis
4. Data Preprocessing
4. Model Evaluation

### Objective:
Create a client segmentation using clustering algorithm

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
pd.set_option('display.max_columns', None)

## 1. Data Extraction

***Accounts Dataset***

In [3]:
accounts_url='https://drive.google.com/file/d/1rZNBZW_YBQEWalGyL3-qtmX9c2xUMN1I/view?usp=sharing'
accounts_url='https://drive.google.com/uc?id=' + accounts_url.split('/')[-2]
df_accounts = pd.read_csv(accounts_url,sep=';')
df_accounts.head()

   account_id  district_id         frequency    date
0         576           55  POPLATEK MESICNE  930101
1        3818           74  POPLATEK MESICNE  930101
2         704           55  POPLATEK MESICNE  930101
3        2378           16  POPLATEK MESICNE  930101
4        2632           24  POPLATEK MESICNE  930102

***Clients Dataset***

In [4]:
clients_url='https://drive.google.com/file/d/1KzlWr9EqFv87aY-BiK7AaSXUQrtRth8B/view?usp=sharing'
clients_url='https://drive.google.com/uc?id=' + clients_url.split('/')[-2]
df_clients = pd.read_csv(clients_url,sep=';')
df_clients.head()

   client_id  birth_number  district_id
0          1        706213           18
1          2        450204            1
2          3        406009            1
3          4        561201            5
4          5        605703            5

***Disposition Dataset***

In [5]:
disp_url='https://drive.google.com/file/d/1Jr0u8YT1K2UYBOmJUiDnRLerLwtbDGlU/view?usp=sharing'
disp_url='https://drive.google.com/uc?id=' + disp_url.split('/')[-2]
df_disp = pd.read_csv(disp_url,sep=';')
df_disp.head()

   disp_id  client_id  account_id       type
0        1          1           1      OWNER
1        2          2           2      OWNER
2        3          3           2  DISPONENT
3        4          4           3      OWNER
4        5          5           3  DISPONENT

***Loans Dataset***

In [6]:
loan_url='https://drive.google.com/file/d/1G93S6iApWPicyFZEfdx0f_SPOTE9p3rW/view?usp=sharing'
loan_url='https://drive.google.com/uc?id=' + loan_url.split('/')[-2]
df_loan = pd.read_csv(loan_url,sep=';')
df_loan.head()

   loan_id  account_id    date  amount  duration  payments status
0     5314        1787  930705   96396        12    8033.0      B
1     5316        1801  930711  165960        36    4610.0      A
2     6863        9188  930728  127080        60    2118.0      A
3     5325        1843  930803  105804        36    2939.0      A
4     7240       11013  930906  274740        60    4579.0      A

***Permanent Orders Dataset***

In [7]:
order_url='https://drive.google.com/file/d/1WbcpVy_4WtpvvzOue2vpoiqlITBJq0Pk/view?usp=sharing'
order_url='https://drive.google.com/uc?id=' + order_url.split('/')[-2]
df_order = pd.read_csv(order_url,sep=';')
df_order.head()

   order_id  account_id bank_to  account_to  amount k_symbol
0     29401           1      YZ    87144583  2452.0     SIPO
1     29402           2      ST    89597016  3372.7     UVER
2     29403           2      QR    13943797  7266.0     SIPO
3     29404           3      WX    83084338  1135.0     SIPO
4     29405           3      CD    24485939   327.0

***Transactions Dataset***

In [8]:
trx_url='https://drive.google.com/file/d/1AkX-4_EEIDZdIi_YVJyzTa-q1t7LbSJZ/view?usp=sharing'
trx_url='https://drive.google.com/uc?id=' + trx_url.split('/')[-2]
df_trx = pd.read_csv(trx_url,sep=';')
df_trx.head()

,trans_id,account_id,date,type,operation,amount,balance,k_symbol,bank,account
0,695247,2378,930101,PRIJEM,VKLAD,700.0,700.0,NaN,NaN,NaN
1,171812,576,930101,PRIJEM,VKLAD,900.0,900.0,NaN,NaN,NaN
2,207264,704,930101,PRIJEM,VKLAD,1000.0,1000.0,NaN,NaN,NaN
3,1117247,3818,930101,PRIJEM,VKLAD,600.0,600.0,NaN,NaN,NaN
4,579373,1972,930102,PRIJEM,VKLAD,400.0,400.0,NaN,NaN,NaN

***Demographics Dataset***

In [9]:
district_url='https://drive.google.com/file/d/1tzP51lH41tMyHkewc9zC4F9cJ4nyCr_t/view?usp=sharing'
district_url='https://drive.google.com/uc?id=' + district_url.split('/')[-2]
df_district = pd.read_csv(district_url,sep=';')
df_district.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107
1,2,Benesov,central Bohemia,88884,80,26,6,2,5,46.7,8507,1.67,1.85,132,2159,2674
2,3,Beroun,central Bohemia,75232,55,26,4,1,5,41.7,8980,1.95,2.21,111,2824,2813
3,4,Kladno,central Bohemia,149893,63,29,6,2,6,67.4,9753,4.64,5.05,109,5244,5892
4,5,Kolin,central Bohemia,95616,65,30,4,1,6,51.4,9307,3.85,4.43,118,2616,3040

***Credit Cards Dataset***

In [10]:
cc_url='https://drive.google.com/file/d/1q0WokWL31CYMEkOWNIQDi14H--fzq_1n/view?usp=sharing'
cc_url='https://drive.google.com/uc?id=' + cc_url.split('/')[-2]
df_cc = pd.read_csv(cc_url,sep=';')
df_cc.head()

   card_id  disp_id     type           issued
0     1005     9285  classic  931107 00:00:00
1      104      588  classic  940119 00:00:00
2      747     4915  classic  940205 00:00:00
3       70      439  classic  940208 00:00:00
4      577     3687  classic  940215 00:00:00

### Combine the dataset into single dataset

In [11]:
df = df_disp.merge(
        df_clients, 
        on='client_id',
        how='outer'
    ).merge(
        df_accounts,
        on=['account_id','district_id'],
        how='outer'
    ).merge(
        df_loan,
        on='account_id',
        how='outer',
        suffixes=('_account', '_loan')
    ).merge(
        df_order,
        on='account_id',
        how='outer',
        suffixes=('_loan', '_order')
    ).merge(
        df_trx,
        on='account_id',
        how='outer',
        suffixes=('_disp', '_cc')
    ).merge(
        df_cc,
        on='disp_id',
        how='outer',
    ).merge(
        df_district,
        left_on='district_id',
        right_on='A1',
        how='outer'
    )

In [12]:
df.head()

,disp_id,client_id,account_id,type_disp,birth_number,district_id,frequency,date_account,loan_id,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1.0,1.0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,1,950324,PRIJEM,VKLAD,1000.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1,1.0,1.0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,5,950413,PRIJEM,PREVOD Z UCTU,3679.0,4679.0,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
2,1.0,1.0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,199,950423,PRIJEM,VKLAD,12600.0,17279.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
3,1.0,1.0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530438,950430,PRIJEM,NaN,19.2,17298.2,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
4,1.0,1.0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,6,950513,PRIJEM,PREVOD Z UCTU,3679.0,20977.2,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910

## 2. Data Cleaning

### 2.1 Understanding the Dataset

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2529994 entries, 0 to 2529993
Data columns (total 47 columns):
 #   Column         Dtype
---  ------         -----
 0   disp_id        float64
 1   client_id      float64
 2   account_id     int64
 3   type_disp      object
 4   birth_number   float64
 5   district_id    int64
 6   frequency      object
 7   date_account   float64
 8   loan_id        float64
 9   date_loan      float64
 10  amount_loan    float64
 11  duration       float64
 12  payments       float64
 13  status         object
 14  order_id       float64
 15  bank_to        object
 16  account_to     float64
 17  amount_order   float64
 18  k_symbol_disp  object
 19  trans_id       int64
 20  date           int64
 21  type_cc        object
 22  operation      object
 23  amount         float64
 24  balance        float64
 25  k_symbol_cc    object
 26  bank           object
 27  account        float64
 28  card_id        float64
 29  type           object
 30  issued         object
 31  A1             int64
 32  A2             object
 33  A3             object
 34  A4             int64
 35  A5             int64
 36  A6             int64
 37  A7             int64
 38  A8             int64
 39  A9             int64
 40  A10            float64
 41  A11            int64
 42  A12            object
 43  A13            float64
 44  A14            int64
 45  A15            object
 46  A16            int64
dtypes: float64(18), int64(14), object(15)
memory usage: 926.5+ MB

In [14]:
m = df.shape[0]
n = df.shape[1]

print("Number of rows: " + str(m))
print("Number of columns: " + str(n))

Number of rows: 2529994
Number of columns: 47

### 2.2 Data Cleaning

#### 2.2.1 Missing Values

***check missing values***

In [15]:
df.isna().sum()

disp_id           286536
client_id         286536
account_id             0
type_disp         286536
birth_number      286536
district_id            0
frequency         348944
date_account      348944
loan_id          1913955
date_loan        1913955
amount_loan      1913955
duration         1913955
payments         1913955
status           1913955
order_id          177023
bank_to           177023
account_to        177023
amount_order      177023
k_symbol_disp     177023
trans_id               0
date                   0
type_cc                0
operation         401655
amount                 0
balance                0
k_symbol_cc      1086129
bank             1730517
account          1675861
card_id          2137366
type             2137366
issued           2137366
A1                     0
A2                     0
A3                     0
A4                     0
A5                     0
A6                     0
A7                     0
A8                     0
A9                     0
A10                    0
A11                    0
A12                    0
A13                    0
A14                    0
A15                    0
A16                    0
dtype: int64

***percentage of missing values in each column***

In [16]:
df.isna().sum() * 100 / len(df)

disp_id          11.325560
client_id        11.325560
account_id        0.000000
type_disp        11.325560
birth_number     11.325560
district_id       0.000000
frequency        13.792286
date_account     13.792286
loan_id          75.650575
date_loan        75.650575
amount_loan      75.650575
duration         75.650575
payments         75.650575
status           75.650575
order_id          6.996973
bank_to           6.996973
account_to        6.996973
amount_order      6.996973
k_symbol_disp     6.996973
trans_id          0.000000
date              0.000000
type_cc           0.000000
operation        15.875729
amount            0.000000
balance           0.000000
k_symbol_cc      42.930102
bank             68.400044
account          66.239722
card_id          84.481070
type             84.481070
issued           84.481070
A1                0.000000
A2                0.000000
A3                0.000000
A4                0.000000
A5                0.000000
A6                0.000000
A7                0.000000
A8                0.000000
A9                0.000000
A10               0.000000
A11               0.000000
A12               0.000000
A13               0.000000
A14               0.000000
A15               0.000000
A16               0.000000
dtype: float64

***check for missing values in each column***

*missing values are in columns 'disp_id', 'client_id ', 'type_disp', and 'birth_number', 'frequency', 'date_account', 'loan_id', 'date_loan', 'amount_loan', 'duration', 'payments', 'status', 'order_id', 'bank_to', 'account_to', 'amount_order', 'k_symbol_disp', 'operation', 'k_symbol_cc', 'bank', 'account', 'card_id', 'type', 'issued'*

* *disp_id: check the relationship with other columns*

In [17]:
# compute corr
pd.DataFrame(df.corr()['disp_id'].sort_values(ascending=False))

               disp_id
disp_id       1.000000
account_id    0.999988
order_id      0.999969
loan_id       0.999879
client_id     0.999856
card_id       0.961586
trans_id      0.552237
amount_order  0.148244
balance       0.108015
birth_number  0.106175
amount        0.086689
duration      0.061319
A6            0.031191
A7            0.026937
date_account  0.024405
amount_loan   0.019629
A8            0.015667
date          0.014016
A14           0.011568
A5            0.008252
A4            0.006941
A16           0.005649
A9            0.004227
account_to   -0.001714
A11          -0.007081
A13          -0.012411
A1           -0.016400
district_id  -0.016400
A10          -0.027097
payments     -0.047644
account      -0.074531
date_loan    -0.075230

In [18]:
df[df['disp_id'].notnull()].sort_values(['disp_id'], ascending=True)

,disp_id,client_id,account_id,type_disp,birth_number,district_id,frequency,date_account,loan_id,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1.0,1.0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,1,950324,PRIJEM,VKLAD,1000.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
152,1.0,1.0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,81,970805,VYDAJ,PREVOD NA UCET,2452.0,14203.2,SIPO,YZ,87144583.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
153,1.0,1.0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,224,970810,VYDAJ,VYBER,1200.0,13003.2,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
154,1.0,1.0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,33,970813,PRIJEM,PREVOD Z UCTU,3679.0,16682.2,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
155,1.0,1.0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,139,970828,VYDAJ,VYBER,870.0,15812.2,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033390,13690.0,13998.0,11382,OWNER,535812.0,74,POPLATEK MESICNE,950820.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3431220,961130,VYDAJ,VYBER,14.6,32319.1,SLUZBY,NaN,NaN,NaN,NaN,NaN,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,18782,18347
2033391,13690.0,13998.0,11382,OWNER,535812.0,74,POPLATEK MESICNE,950820.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3459078,961130,PRIJEM,NaN,123.4,32256.8,UROK,NaN,NaN,NaN,NaN,NaN,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,18782,18347
2033392,13690.0,13998.0,11382,OWNER,535812.0,74,POPLATEK MESICNE,950820.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3530282,961130,PRIJEM,NaN,76.9,32333.7,UROK,NaN,NaN,NaN,NaN,NaN,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,18782,18347
2033379,13690.0,13998.0,11382,OWNER,535812.0,74,POPLATEK MESICNE,950820.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3431218,960930,VYDAJ,VYBER,14.6,26959.7,SLUZBY,NaN,NaN,NaN,NaN,NaN,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,18782,18347
2033552,13690.0,13998.0,11382,OWNER,535812.0,74,POPLATEK MESICNE,950820.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3459106,981231,PRIJEM,NaN,311.3,81373.6,UROK,NaN,NaN,NaN,NaN,NaN,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,18782,18347

In [19]:
df[df['disp_id'].isnull()]

,disp_id,client_id,account_id,type_disp,birth_number,district_id,frequency,date_account,loan_id,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
239,NaN,NaN,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,1237846,931129,PRIJEM,VKLAD,600.0,600.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
240,NaN,NaN,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,1237855,931225,PRIJEM,VKLAD,35584.0,36184.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
241,NaN,NaN,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,1238207,931229,VYDAJ,VYBER,6100.0,30084.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
242,NaN,NaN,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,3663266,931231,PRIJEM,NaN,12.1,30096.1,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
243,NaN,NaN,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,1238208,940128,VYDAJ,VYBER,3700.0,26396.1,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2503665,NaN,NaN,5483,NaN,NaN,13,POPLATEK MESICNE,930328.0,NaN,NaN,NaN,NaN,NaN,NaN,37522.0,KL,24862456.0,1307.0,LEASING,3452277,981130,PRIJEM,NaN,132.0,24219.1,UROK,NaN,NaN,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875
2503666,NaN,NaN,5483,NaN,NaN,13,POPLATEK MESICNE,930328.0,NaN,NaN,NaN,NaN,NaN,NaN,37522.0,KL,24862456.0,1307.0,LEASING,1615044,981130,VYDAJ,VYBER,14.6,24204.5,SLUZBY,NaN,NaN,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875
2503667,NaN,NaN,5483,NaN,NaN,13,POPLATEK MESICNE,930328.0,NaN,NaN,NaN,NaN,NaN,NaN,37522.0,KL,24862456.0,1307.0,LEASING,1614779,981209,PRIJEM,PREVOD Z UCTU,24003.0,48207.5,NaN,QR,6313664.0,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875
2503668,NaN,NaN,5483,NaN,NaN,13,POPLATEK MESICNE,930328.0,NaN,NaN,NaN,NaN,NaN,NaN,37522.0,KL,24862456.0,1307.0,LEASING,1614908,981210,VYDAJ,VYBER,1800.0,46407.5,NaN,NaN,NaN,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875
2503669,NaN,NaN,5483,NaN,NaN,13,POPLATEK MESICNE,930328.0,NaN,NaN,NaN,NaN,NaN,NaN,37522.0,KL,24862456.0,1307.0,LEASING,3452278,981231,PRIJEM,NaN,161.4,46568.9,UROK,NaN,NaN,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875

*There seems to be any relationship between 'disp_id' with 'client_id'column. These two columns will be deleted because we assume 'account_id' is sufficient to represent this data*

In [20]:
df.drop(['disp_id','client_id'], axis=1, inplace=True)

* *type_disp: check the relationship with other columns*

In [21]:
df[df['type_disp'].notnull()].sort_values(['type_disp'], ascending=True)

,account_id,type_disp,birth_number,district_id,frequency,date_account,loan_id,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
2529993,10940,DISPONENT,680708.0,13,NaN,NaN,7226.0,940223.0,197748.0,36.0,5493.0,A,45667.0,YZ,91803866.0,5493.0,UVER,3526071,981231,PRIJEM,NaN,245.1,58305.5,UROK,NaN,NaN,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875
1685167,1934,DISPONENT,670609.0,46,POPLATEK MESICNE,941005.0,NaN,NaN,NaN,NaN,NaN,NaN,32230.0,IJ,6592476.0,4007.0,,568075,961211,VYDAJ,PREVOD NA UCET,1428.0,59457.8,SIPO,CD,78941809.0,NaN,NaN,NaN,46,Nachod,east Bohemia,112709,48,20,7,3,10,73.5,8369,1.79,2.31,117,2854,2618
1685166,1934,DISPONENT,670609.0,46,POPLATEK MESICNE,941005.0,NaN,NaN,NaN,NaN,NaN,NaN,32230.0,IJ,6592476.0,4007.0,,568195,961211,VYDAJ,PREVOD NA UCET,720.0,58737.8,POJISTNE,UV,30378473.0,NaN,NaN,NaN,46,Nachod,east Bohemia,112709,48,20,7,3,10,73.5,8369,1.79,2.31,117,2854,2618
1685165,1934,DISPONENT,670609.0,46,POPLATEK MESICNE,941005.0,NaN,NaN,NaN,NaN,NaN,NaN,32230.0,IJ,6592476.0,4007.0,,568255,961211,VYDAJ,PREVOD NA UCET,1167.0,60885.8,,UV,50147646.0,NaN,NaN,NaN,46,Nachod,east Bohemia,112709,48,20,7,3,10,73.5,8369,1.79,2.31,117,2854,2618
1685164,1934,DISPONENT,670609.0,46,POPLATEK MESICNE,941005.0,NaN,NaN,NaN,NaN,NaN,NaN,32230.0,IJ,6592476.0,4007.0,,568015,961210,PRIJEM,VKLAD,16474.0,62052.8,NaN,NaN,NaN,NaN,NaN,NaN,46,Nachod,east Bohemia,112709,48,20,7,3,10,73.5,8369,1.79,2.31,117,2854,2618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947877,2667,OWNER,570217.0,23,POPLATEK MESICNE,931023.0,NaN,NaN,NaN,NaN,NaN,NaN,33338.0,ST,2693307.0,2180.0,SIPO,782566,960907,VYDAJ,PREVOD NA UCET,2180.0,17655.3,NaN,ST,2693307.0,NaN,NaN,NaN,23,Cheb,west Bohemia,87419,21,11,4,3,9,85.5,8624,1.79,2.66,102,2879,3198
947876,2667,OWNER,570217.0,23,POPLATEK MESICNE,931023.0,NaN,NaN,NaN,NaN,NaN,NaN,33338.0,ST,2693307.0,2180.0,SIPO,782747,960907,VYDAJ,VYBER,2000.0,15655.3,NaN,NaN,NaN,NaN,NaN,NaN,23,Cheb,west Bohemia,87419,21,11,4,3,9,85.5,8624,1.79,2.66,102,2879,3198
947875,2667,OWNER,570217.0,23,POPLATEK MESICNE,931023.0,NaN,NaN,NaN,NaN,NaN,NaN,33338.0,ST,2693307.0,2180.0,SIPO,782494,960905,PRIJEM,PREVOD Z UCTU,3270.0,19835.3,NaN,GH,32372063.0,NaN,NaN,NaN,23,Cheb,west Bohemia,87419,21,11,4,3,9,85.5,8624,1.79,2.66,102,2879,3198
947888,2667,OWNER,570217.0,23,POPLATEK MESICNE,931023.0,NaN,NaN,NaN,NaN,NaN,NaN,33338.0,ST,2693307.0,2180.0,SIPO,782568,961107,VYDAJ,PREVOD NA UCET,2180.0,15537.5,NaN,ST,2693307.0,NaN,NaN,NaN,23,Cheb,west Bohemia,87419,21,11,4,3,9,85.5,8624,1.79,2.66,102,2879,3198
1293982,4937,OWNER,510410.0,50,NaN,NaN,6004.0,940723.0,143904.0,24.0,5996.0,A,36667.0,OP,43502605.0,800.0,,1450040,941020,PRIJEM,VKLAD,40006.0,86153.9,NaN,NaN,NaN,NaN,NaN,NaN,50,Svitavy,east Bohemia,102609,75,33,2,3,6,52.0,8187,4.83,5.45,94,2123,2134

In [22]:
df[df['type_disp'].isnull()]

,account_id,type_disp,birth_number,district_id,frequency,date_account,loan_id,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
239,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,1237846,931129,PRIJEM,VKLAD,600.0,600.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
240,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,1237855,931225,PRIJEM,VKLAD,35584.0,36184.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
241,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,1238207,931229,VYDAJ,VYBER,6100.0,30084.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
242,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,3663266,931231,PRIJEM,NaN,12.1,30096.1,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
243,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,1238208,940128,VYDAJ,VYBER,3700.0,26396.1,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2503665,5483,NaN,NaN,13,POPLATEK MESICNE,930328.0,NaN,NaN,NaN,NaN,NaN,NaN,37522.0,KL,24862456.0,1307.0,LEASING,3452277,981130,PRIJEM,NaN,132.0,24219.1,UROK,NaN,NaN,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875
2503666,5483,NaN,NaN,13,POPLATEK MESICNE,930328.0,NaN,NaN,NaN,NaN,NaN,NaN,37522.0,KL,24862456.0,1307.0,LEASING,1615044,981130,VYDAJ,VYBER,14.6,24204.5,SLUZBY,NaN,NaN,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875
2503667,5483,NaN,NaN,13,POPLATEK MESICNE,930328.0,NaN,NaN,NaN,NaN,NaN,NaN,37522.0,KL,24862456.0,1307.0,LEASING,1614779,981209,PRIJEM,PREVOD Z UCTU,24003.0,48207.5,NaN,QR,6313664.0,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875
2503668,5483,NaN,NaN,13,POPLATEK MESICNE,930328.0,NaN,NaN,NaN,NaN,NaN,NaN,37522.0,KL,24862456.0,1307.0,LEASING,1614908,981210,VYDAJ,VYBER,1800.0,46407.5,NaN,NaN,NaN,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875
2503669,5483,NaN,NaN,13,POPLATEK MESICNE,930328.0,NaN,NaN,NaN,NaN,NaN,NaN,37522.0,KL,24862456.0,1307.0,LEASING,3452278,981231,PRIJEM,NaN,161.4,46568.9,UROK,NaN,NaN,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875

*There doesn't seem to be any relationship between 'type_disp' with other columns*

* *birth_number: check the relationship with other columns*

In [23]:
# compute corr
pd.DataFrame(df.corr()['birth_number'].sort_values(ascending=False))

              birth_number
birth_number      1.000000
loan_id           0.158552
balance           0.140196
order_id          0.120518
account_id        0.106347
card_id           0.099104
amount_loan       0.081076
amount            0.070469
amount_order      0.058168
trans_id          0.046074
payments          0.039039
duration          0.036717
A14               0.022203
A11               0.011213
A5                0.006366
A16               0.005451
date_account      0.003698
A4                0.002942
A10               0.002481
date             -0.006381
account_to       -0.010540
A13              -0.018249
A9               -0.022890
account          -0.023001
A6               -0.026251
district_id      -0.026717
A1               -0.026717
A8               -0.030502
A7               -0.033335
date_loan        -0.089173

In [24]:
df[df['birth_number'].notnull()].sort_values(['birth_number'], ascending=True)

,account_id,type_disp,birth_number,district_id,frequency,date_account,loan_id,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
2518556,3908,DISPONENT,110820.0,13,POPLATEK MESICNE,970116.0,NaN,NaN,NaN,NaN,NaN,NaN,35161.0,KL,49593687.0,1630.0,SIPO,1142669,980111,VYDAJ,PREVOD NA UCET,1008.0,19305.1,,QR,26197701.0,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875
2518616,3908,DISPONENT,110820.0,13,POPLATEK MESICNE,970116.0,NaN,NaN,NaN,NaN,NaN,NaN,35161.0,KL,49593687.0,1630.0,SIPO,1142655,981108,VYDAJ,PREVOD NA UCET,1630.0,15896.4,SIPO,KL,49593687.0,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875
2518617,3908,DISPONENT,110820.0,13,POPLATEK MESICNE,970116.0,NaN,NaN,NaN,NaN,NaN,NaN,35161.0,KL,49593687.0,1630.0,SIPO,1142679,981111,VYDAJ,PREVOD NA UCET,1008.0,14888.4,,QR,26197701.0,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875
2518618,3908,DISPONENT,110820.0,13,POPLATEK MESICNE,970116.0,NaN,NaN,NaN,NaN,NaN,NaN,35161.0,KL,49593687.0,1630.0,SIPO,1142631,981113,PRIJEM,PREVOD Z UCTU,4810.0,19698.4,DUCHOD,CD,67100393.0,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875
2518619,3908,DISPONENT,110820.0,13,POPLATEK MESICNE,970116.0,NaN,NaN,NaN,NaN,NaN,NaN,35161.0,KL,49593687.0,1630.0,SIPO,1142709,981126,VYDAJ,VYBER,3920.0,15778.4,NaN,NaN,NaN,NaN,NaN,NaN,13,Rakovnik,central Bohemia,53921,61,22,1,1,2,41.3,8598,2.77,3.26,123,1597,1875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2451380,2836,DISPONENT,875927.0,42,POPLATEK MESICNE,951118.0,NaN,NaN,NaN,NaN,NaN,NaN,33603.0,CD,56261038.0,9472.0,SIPO,832937,971207,VYDAJ,VYBER,16500.0,55976.1,NaN,NaN,NaN,NaN,NaN,NaN,42,Havlickuv Brod,east Bohemia,95907,87,25,5,2,7,59.1,8388,2.41,2.94,87,1658,1668
2451379,2836,DISPONENT,875927.0,42,POPLATEK MESICNE,951118.0,NaN,NaN,NaN,NaN,NaN,NaN,33603.0,CD,56261038.0,9472.0,SIPO,832798,971207,VYDAJ,PREVOD NA UCET,9472.0,46504.1,SIPO,CD,56261038.0,NaN,NaN,NaN,42,Havlickuv Brod,east Bohemia,95907,87,25,5,2,7,59.1,8388,2.41,2.94,87,1658,1668
2451378,2836,DISPONENT,875927.0,42,POPLATEK MESICNE,951118.0,NaN,NaN,NaN,NaN,NaN,NaN,33603.0,CD,56261038.0,9472.0,SIPO,832750,971206,PRIJEM,VKLAD,28152.0,72476.1,NaN,NaN,NaN,NaN,NaN,NaN,42,Havlickuv Brod,east Bohemia,95907,87,25,5,2,7,59.1,8388,2.41,2.94,87,1658,1668
2451403,2836,DISPONENT,875927.0,42,POPLATEK MESICNE,951118.0,NaN,NaN,NaN,NaN,NaN,NaN,33603.0,CD,56261038.0,9472.0,SIPO,832904,980331,VYDAJ,VYBER,14.6,38813.2,SLUZBY,NaN,NaN,NaN,NaN,NaN,42,Havlickuv Brod,east Bohemia,95907,87,25,5,2,7,59.1,8388,2.41,2.94,87,1658,1668
2451397,2836,DISPONENT,875927.0,42,POPLATEK MESICNE,951118.0,NaN,NaN,NaN,NaN,NaN,NaN,33603.0,CD,56261038.0,9472.0,SIPO,832800,980207,VYDAJ,PREVOD NA UCET,9472.0,35719.1,SIPO,CD,56261038.0,NaN,NaN,NaN,42,Havlickuv Brod,east Bohemia,95907,87,25,5,2,7,59.1,8388,2.41,2.94,87,1658,1668

In [25]:
df[df['birth_number'].isnull()].head(10)

,account_id,type_disp,birth_number,district_id,frequency,date_account,loan_id,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
239,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,1237846,931129,PRIJEM,VKLAD,600.0,600.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
240,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,1237855,931225,PRIJEM,VKLAD,35584.0,36184.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
241,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,1238207,931229,VYDAJ,VYBER,6100.0,30084.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
242,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,3663266,931231,PRIJEM,NaN,12.1,30096.1,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
243,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,1238208,940128,VYDAJ,VYBER,3700.0,26396.1,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
244,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,1237864,940131,PRIJEM,VKLAD,19513.0,46036.6,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
245,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,3663267,940131,PRIJEM,NaN,127.5,26523.6,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
246,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,1238209,940227,VYDAJ,VYBER,11300.0,34736.6,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
247,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,3663268,940228,PRIJEM,NaN,191.8,34928.4,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
248,4237,NaN,NaN,18,POPLATEK MESICNE,931129.0,NaN,NaN,NaN,NaN,NaN,NaN,35639.0,GH,65168309.0,1960.5,LEASING,1238210,940329,VYDAJ,VYBER,6300.0,28628.4,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910

*There doesn't seem to be any relationship between 'birth_number' with other columns*

* *frequency: check the relationship with other columns*

In [26]:
df[df['frequency'].notnull()].sort_values(['frequency'], ascending=True)

,account_id,type_disp,birth_number,district_id,frequency,date_account,loan_id,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,1,950324,PRIJEM,VKLAD,1000.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1628764,3238,DISPONENT,671228.0,47,POPLATEK MESICNE,960107.0,NaN,NaN,NaN,NaN,NaN,NaN,34200.0,EF,11093372.0,8109.0,SIPO,950040,960903,VYDAJ,VYBER,6500.0,30488.5,NaN,NaN,NaN,NaN,NaN,NaN,47,Pardubice,east Bohemia,162580,83,26,5,1,6,72.8,9538,1.51,1.81,111,6079,5410
1628763,3238,DISPONENT,671228.0,47,POPLATEK MESICNE,960107.0,NaN,NaN,NaN,NaN,NaN,NaN,34200.0,EF,11093372.0,8109.0,SIPO,3637528,960831,PRIJEM,NaN,164.9,37003.1,UROK,NaN,NaN,NaN,NaN,NaN,47,Pardubice,east Bohemia,162580,83,26,5,1,6,72.8,9538,1.51,1.81,111,6079,5410
1628762,3238,DISPONENT,671228.0,47,POPLATEK MESICNE,960107.0,NaN,NaN,NaN,NaN,NaN,NaN,34200.0,EF,11093372.0,8109.0,SIPO,950005,960831,VYDAJ,VYBER,14.6,36988.5,SLUZBY,NaN,NaN,NaN,NaN,NaN,47,Pardubice,east Bohemia,162580,83,26,5,1,6,72.8,9538,1.51,1.81,111,6079,5410
1628761,3238,DISPONENT,671228.0,47,POPLATEK MESICNE,960107.0,NaN,NaN,NaN,NaN,NaN,NaN,34200.0,EF,11093372.0,8109.0,SIPO,949983,960818,VYDAJ,VYBER,960.0,36838.2,NaN,NaN,NaN,NaN,NaN,NaN,47,Pardubice,east Bohemia,162580,83,26,5,1,6,72.8,9538,1.51,1.81,111,6079,5410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383968,8547,OWNER,455223.0,14,POPLATEK TYDNE,950717.0,6734.0,960530.0,173016.0,36.0,4806.0,C,42084.0,AB,64253020.0,4806.5,UVER,2586611,980102,VYDAJ,VYBER,17700.0,50903.4,NaN,NaN,NaN,1059.0,classic,970729 00:00:00,14,Ceske Budejovice,south Bohemia,177686,69,27,10,1,9,74.8,10045,1.42,1.71,135,6604,6295
1383969,8547,OWNER,455223.0,14,POPLATEK TYDNE,950717.0,6734.0,960530.0,173016.0,36.0,4806.0,C,42084.0,AB,64253020.0,4806.5,UVER,2586498,980104,VYDAJ,VYBER,6000.0,44903.4,NaN,NaN,NaN,1059.0,classic,970729 00:00:00,14,Ceske Budejovice,south Bohemia,177686,69,27,10,1,9,74.8,10045,1.42,1.71,135,6604,6295
1383970,8547,OWNER,455223.0,14,POPLATEK TYDNE,950717.0,6734.0,960530.0,173016.0,36.0,4806.0,C,42084.0,AB,64253020.0,4806.5,UVER,2586424,980112,VYDAJ,PREVOD NA UCET,4806.5,38596.9,UVER,AB,64253020.0,1059.0,classic,970729 00:00:00,14,Ceske Budejovice,south Bohemia,177686,69,27,10,1,9,74.8,10045,1.42,1.71,135,6604,6295
1383964,8547,OWNER,455223.0,14,POPLATEK TYDNE,950717.0,6734.0,960530.0,173016.0,36.0,4806.0,C,42084.0,AB,64253020.0,4806.5,UVER,2586459,971218,VYBER,VYBER,18445.0,68084.6,NaN,NaN,NaN,1059.0,classic,970729 00:00:00,14,Ceske Budejovice,south Bohemia,177686,69,27,10,1,9,74.8,10045,1.42,1.71,135,6604,6295
495335,2754,OWNER,526226.0,57,POPLATEK TYDNE,960126.0,5532.0,970504.0,335280.0,48.0,6985.0,C,33474.0,MN,10118246.0,2882.0,SIPO,3621646,971031,PRIJEM,NaN,175.4,32190.0,UROK,NaN,NaN,NaN,NaN,NaN,57,Hodonin,south Moravia,161954,21,37,20,3,8,48.0,8720,3.73,4.50,116,3729,3651

In [27]:
df[df['frequency'].isnull()].head(10)

,account_id,type_disp,birth_number,district_id,frequency,date_account,loan_id,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
1813,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,337010,930703,PRIJEM,VKLAD,900.0,900.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1814,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,337017,930712,PRIJEM,PREVOD Z UCTU,2921.0,3821.0,NaN,ST,25428694.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1815,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,3568403,930731,PRIJEM,NaN,10.3,3831.3,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1816,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,337018,930812,PRIJEM,PREVOD Z UCTU,2921.0,6752.3,NaN,ST,25428694.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1817,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,3568404,930831,PRIJEM,NaN,15.9,6768.2,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1818,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,337019,930912,PRIJEM,PREVOD Z UCTU,2921.0,9689.2,NaN,ST,25428694.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1819,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,3568405,930930,PRIJEM,NaN,15.9,9705.1,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1820,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,337020,931012,PRIJEM,PREVOD Z UCTU,2921.0,12626.1,NaN,ST,25428694.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1821,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,3568406,931031,PRIJEM,NaN,15.9,12642.0,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1822,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,337021,931112,PRIJEM,PREVOD Z UCTU,2921.0,15563.0,NaN,ST,25428694.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910

*There doesn't seem to be any relationship between 'frequency' with other columns*

* *date_account: check the relationship with other columns*

In [28]:
# compute corr
pd.DataFrame(df.corr()['date_account'].sort_values(ascending=False))

              date_account
date_account      1.000000
date_loan         0.915494
date              0.501963
duration          0.105543
amount_loan       0.105496
amount_order      0.037191
order_id          0.026878
amount            0.023690
account_id        0.022648
trans_id          0.021021
payments          0.020289
A8                0.014793
A13               0.007378
A9                0.005330
birth_number      0.003698
account_to        0.002948
account           0.001331
A5                0.000708
district_id      -0.003391
A1               -0.003391
A4               -0.003574
A10              -0.004477
A16              -0.004547
card_id          -0.004709
A7               -0.005200
A6               -0.010709
A14              -0.012068
A11              -0.014371
balance          -0.030573
loan_id          -0.059218

In [29]:
df[df['date_account'].notnull()].sort_values(['date_account'], ascending=True)

,account_id,type_disp,birth_number,district_id,frequency,date_account,loan_id,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
982069,704,NaN,NaN,55,POPLATEK MESICNE,930101.0,NaN,NaN,NaN,NaN,NaN,NaN,30437.0,UV,96896516.0,1197.0,,207679,960215,VYDAJ,VYBER,7500.0,24766.9,NaN,NaN,NaN,NaN,NaN,NaN,55,Brno - venkov,south Moravia,157042,49,70,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
981461,704,NaN,NaN,55,POPLATEK MESICNE,930101.0,NaN,NaN,NaN,NaN,NaN,NaN,30436.0,IJ,15132719.0,2141.0,SIPO,207429,940907,VYDAJ,PREVOD NA UCET,1197.0,40412.1,,UV,96896516.0,NaN,NaN,NaN,55,Brno - venkov,south Moravia,157042,49,70,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
981462,704,NaN,NaN,55,POPLATEK MESICNE,930101.0,NaN,NaN,NaN,NaN,NaN,NaN,30436.0,IJ,15132719.0,2141.0,SIPO,207357,940909,VYDAJ,PREVOD NA UCET,2141.0,38271.1,SIPO,IJ,15132719.0,NaN,NaN,NaN,55,Brno - venkov,south Moravia,157042,49,70,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
981463,704,NaN,NaN,55,POPLATEK MESICNE,930101.0,NaN,NaN,NaN,NaN,NaN,NaN,30436.0,IJ,15132719.0,2141.0,SIPO,207285,940912,PRIJEM,VKLAD,17477.0,55748.1,NaN,NaN,NaN,NaN,NaN,NaN,55,Brno - venkov,south Moravia,157042,49,70,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
981464,704,NaN,NaN,55,POPLATEK MESICNE,930101.0,NaN,NaN,NaN,NaN,NaN,NaN,30436.0,IJ,15132719.0,2141.0,SIPO,207662,940923,VYDAJ,VYBER,13400.0,42348.1,NaN,NaN,NaN,NaN,NaN,NaN,55,Brno - venkov,south Moravia,157042,49,70,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252230,1573,OWNER,220707.0,63,POPLATEK MESICNE,971229.0,NaN,NaN,NaN,NaN,NaN,NaN,31720.0,IJ,19240260.0,3638.0,SIPO,462624,980610,VYDAJ,VYBER,9650.0,14936.0,NaN,NaN,NaN,NaN,NaN,NaN,63,Vyskov,south Moravia,86513,38,36,5,1,5,50.5,8288,3.79,4.52,110,1562,1460
1252229,1573,OWNER,220707.0,63,POPLATEK MESICNE,971229.0,NaN,NaN,NaN,NaN,NaN,NaN,31720.0,IJ,19240260.0,3638.0,SIPO,462592,980609,PRIJEM,PREVOD Z UCTU,5492.0,24586.0,DUCHOD,EF,56284958.0,NaN,NaN,NaN,63,Vyskov,south Moravia,86513,38,36,5,1,5,50.5,8288,3.79,4.52,110,1562,1460
1252228,1573,OWNER,220707.0,63,POPLATEK MESICNE,971229.0,NaN,NaN,NaN,NaN,NaN,NaN,31720.0,IJ,19240260.0,3638.0,SIPO,462654,980602,VYDAJ,VYBER,2080.0,19094.0,NaN,NaN,NaN,NaN,NaN,NaN,63,Vyskov,south Moravia,86513,38,36,5,1,5,50.5,8288,3.79,4.52,110,1562,1460
1252226,1573,OWNER,220707.0,63,POPLATEK MESICNE,971229.0,NaN,NaN,NaN,NaN,NaN,NaN,31720.0,IJ,19240260.0,3638.0,SIPO,3582056,980531,PRIJEM,NaN,90.1,21188.6,UROK,NaN,NaN,NaN,NaN,NaN,63,Vyskov,south Moravia,86513,38,36,5,1,5,50.5,8288,3.79,4.52,110,1562,1460
246683,3276,OWNER,630516.0,1,POPLATEK MESICNE,971229.0,NaN,NaN,NaN,NaN,NaN,NaN,34262.0,WX,88365083.0,1017.0,POJISTNE,961689,980627,PRIJEM,VKLAD,8100.0,23616.3,NaN,NaN,NaN,NaN,NaN,NaN,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107

In [30]:
df[df['date_account'].isnull()].head(10)

,account_id,type_disp,birth_number,district_id,frequency,date_account,loan_id,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
1813,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,337010,930703,PRIJEM,VKLAD,900.0,900.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1814,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,337017,930712,PRIJEM,PREVOD Z UCTU,2921.0,3821.0,NaN,ST,25428694.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1815,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,3568403,930731,PRIJEM,NaN,10.3,3831.3,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1816,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,337018,930812,PRIJEM,PREVOD Z UCTU,2921.0,6752.3,NaN,ST,25428694.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1817,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,3568404,930831,PRIJEM,NaN,15.9,6768.2,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1818,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,337019,930912,PRIJEM,PREVOD Z UCTU,2921.0,9689.2,NaN,ST,25428694.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1819,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,3568405,930930,PRIJEM,NaN,15.9,9705.1,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1820,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,337020,931012,PRIJEM,PREVOD Z UCTU,2921.0,12626.1,NaN,ST,25428694.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1821,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,3568406,931031,PRIJEM,NaN,15.9,12642.0,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1822,1145,OWNER,580903.0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31076.0,IJ,24233013.0,478.0,SIPO,337021,931112,PRIJEM,PREVOD Z UCTU,2921.0,15563.0,NaN,ST,25428694.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910

*There doesn't seem to be any relationship between 'date_loan' with other columns*

* *loan_id: check the relationship with other columns*

In [31]:
# compute corr
pd.DataFrame(df.corr()['loan_id'].sort_values(ascending=False))

               loan_id
loan_id       1.000000
account_id    0.999863
order_id      0.999847
card_id       0.971907
trans_id      0.768761
birth_number  0.158552
A14           0.087807
A16           0.068842
A11           0.065361
A4            0.064342
duration      0.054303
A10           0.045970
amount_order  0.039683
balance       0.037839
amount_loan   0.011880
amount        0.005113
date         -0.025231
account_to   -0.025725
A5           -0.026514
account      -0.034224
A7           -0.034965
A6           -0.035885
A9           -0.046687
A8           -0.051972
payments     -0.055342
date_account -0.059218
A13          -0.067308
date_loan    -0.075397
district_id  -0.079179
A1           -0.079179

In [32]:
df[df['loan_id'].notnull()].sort_values(['loan_id'], ascending=True)

,account_id,type_disp,birth_number,district_id,frequency,date_account,loan_id,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
20248,2,DISPONENT,406009.0,1,POPLATEK MESICNE,930226.0,4959.0,940105.0,80952.0,24.0,3373.0,A,29402.0,ST,89597016.0,3372.7,UVER,436,940405,VYDAJ,PREVOD NA UCET,7266.0,23775.5,SIPO,QR,13943797.0,NaN,NaN,NaN,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107
20104,2,OWNER,450204.0,1,POPLATEK MESICNE,930226.0,4959.0,940105.0,80952.0,24.0,3373.0,A,29403.0,QR,13943797.0,7266.0,SIPO,483,980305,VYDAJ,PREVOD NA UCET,7266.0,29510.4,SIPO,QR,13943797.0,NaN,NaN,NaN,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107
20105,2,OWNER,450204.0,1,POPLATEK MESICNE,930226.0,4959.0,940105.0,80952.0,24.0,3373.0,A,29403.0,QR,13943797.0,7266.0,SIPO,339,980312,PRIJEM,PREVOD Z UCTU,20236.0,49746.4,NaN,ST,66487163.0,NaN,NaN,NaN,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107
20106,2,OWNER,450204.0,1,POPLATEK MESICNE,930226.0,4959.0,940105.0,80952.0,24.0,3373.0,A,29403.0,QR,13943797.0,7266.0,SIPO,532,980319,VYBER,VYBER,18119.0,31627.4,NaN,NaN,NaN,NaN,NaN,NaN,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107
20107,2,OWNER,450204.0,1,POPLATEK MESICNE,930226.0,4959.0,940105.0,80952.0,24.0,3373.0,A,29403.0,QR,13943797.0,7266.0,SIPO,411,980323,VYDAJ,VYBER,2700.0,28927.4,NaN,NaN,0.0,NaN,NaN,NaN,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627727,11362,OWNER,626019.0,67,POPLATEK MESICNE,951014.0,7308.0,961227.0,129408.0,24.0,5392.0,A,46336.0,ST,40799850.0,330.0,POJISTNE,3424017,960910,VYDAJ,PREVOD NA UCET,4780.0,20419.9,SIPO,YZ,70641225.0,NaN,NaN,NaN,67,Bruntal,north Moravia,106054,38,25,6,2,6,63.1,8110,5.77,6.55,109,3244,3079
627726,11362,OWNER,626019.0,67,POPLATEK MESICNE,951014.0,7308.0,961227.0,129408.0,24.0,5392.0,A,46336.0,ST,40799850.0,330.0,POJISTNE,3424355,960908,VYDAJ,VYBER,5300.0,25255.9,NaN,NaN,NaN,NaN,NaN,NaN,67,Bruntal,north Moravia,106054,38,25,6,2,6,63.1,8110,5.77,6.55,109,3244,3079
627725,11362,OWNER,626019.0,67,POPLATEK MESICNE,951014.0,7308.0,961227.0,129408.0,24.0,5392.0,A,46336.0,ST,40799850.0,330.0,POJISTNE,3424065,960908,VYDAJ,PREVOD NA UCET,56.0,25199.9,,MN,78507822.0,NaN,NaN,NaN,67,Bruntal,north Moravia,106054,38,25,6,2,6,63.1,8110,5.77,6.55,109,3244,3079
627745,11362,OWNER,626019.0,67,POPLATEK MESICNE,951014.0,7308.0,961227.0,129408.0,24.0,5392.0,A,46336.0,ST,40799850.0,330.0,POJISTNE,3424357,961107,VYDAJ,VYBER,3600.0,27128.8,NaN,NaN,NaN,NaN,NaN,NaN,67,Bruntal,north Moravia,106054,38,25,6,2,6,63.1,8110,5.77,6.55,109,3244,3079
628183,11362,OWNER,626019.0,67,POPLATEK MESICNE,951014.0,7308.0,961227.0,129408.0,24.0,5392.0,A,46337.0,KL,20009470.0,129.0,,3530020,970831,PRIJEM,NaN,98.0,22892.8,UROK,NaN,NaN,NaN,NaN,NaN,67,Bruntal,north Moravia,106054,38,25,6,2,6,63.1,8110,5.77,6.55,109,3244,3079

In [33]:
df[df['loan_id'].isnull()].head(10)

,account_id,type_disp,birth_number,district_id,frequency,date_account,loan_id,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,1,950324,PRIJEM,VKLAD,1000.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,5,950413,PRIJEM,PREVOD Z UCTU,3679.0,4679.0,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
2,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,199,950423,PRIJEM,VKLAD,12600.0,17279.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
3,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530438,950430,PRIJEM,NaN,19.2,17298.2,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
4,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,6,950513,PRIJEM,PREVOD Z UCTU,3679.0,20977.2,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
5,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,200,950523,PRIJEM,VKLAD,2100.0,23077.2,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
6,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530439,950531,PRIJEM,NaN,79.0,23156.2,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
7,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,7,950613,PRIJEM,PREVOD Z UCTU,3679.0,26835.2,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
8,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,201,950622,VYDAJ,VYBER,200.0,26635.2,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
9,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530440,950630,PRIJEM,NaN,100.6,26735.8,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910

*There doesn't seem to be any relationship between 'loan_id' with other columns. This column will be deleted because we assume 'loan_id' will not affect the model.*

In [34]:
df.drop(['loan_id'], axis=1, inplace=True)

* *date_loan: check the relationship with other columns*

In [35]:
# compute corr
pd.DataFrame(df.corr()['date_loan'].sort_values(ascending=False))

              date_loan
date_loan      1.000000
date_account   0.915494
date           0.472119
duration       0.153279
amount_loan    0.136160
A8             0.108308
A9             0.074858
A13            0.066862
district_id    0.057910
A1             0.057910
A7             0.055006
A10            0.019674
account        0.015360
amount         0.015352
balance        0.015038
payments       0.000329
account_to     0.000274
A5            -0.001410
A6            -0.009393
amount_order  -0.025976
A11           -0.038070
A4            -0.042189
A16           -0.050940
trans_id      -0.054661
account_id    -0.074636
order_id      -0.074755
birth_number  -0.089173
A14           -0.089632
card_id       -0.217579

In [36]:
df[df['date_loan'].notnull()].sort_values(['date_loan'], ascending=True)

,account_id,type_disp,birth_number,district_id,frequency,date_account,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
2325182,1787,OWNER,475722.0,30,POPLATEK TYDNE,930322.0,930705.0,96396.0,12.0,8033.0,B,32012.0,EF,8468449.0,8033.2,UVER,524097,960106,PRIJEM,VKLAD,5600.0,12408.5,NaN,NaN,NaN,NaN,NaN,NaN,30,Sokolov,west Bohemia,94812,15,13,8,2,10,81.8,9650,3.38,3.67,100,2985,2804
2325296,1787,OWNER,475722.0,30,POPLATEK TYDNE,930322.0,930705.0,96396.0,12.0,8033.0,B,32012.0,EF,8468449.0,8033.2,UVER,523755,970629,VYDAJ,VYBER,9500.0,11286.1,NaN,NaN,0.0,NaN,NaN,NaN,30,Sokolov,west Bohemia,94812,15,13,8,2,10,81.8,9650,3.38,3.67,100,2985,2804
2325295,1787,OWNER,475722.0,30,POPLATEK TYDNE,930322.0,930705.0,96396.0,12.0,8033.0,B,32012.0,EF,8468449.0,8033.2,UVER,524113,970629,VYDAJ,VYBER,2400.0,20786.1,NaN,NaN,NaN,NaN,NaN,NaN,30,Sokolov,west Bohemia,94812,15,13,8,2,10,81.8,9650,3.38,3.67,100,2985,2804
2325294,1787,OWNER,475722.0,30,POPLATEK TYDNE,930322.0,930705.0,96396.0,12.0,8033.0,B,32012.0,EF,8468449.0,8033.2,UVER,523968,970628,VYDAJ,VYBER,2700.0,23186.1,NaN,NaN,NaN,NaN,NaN,NaN,30,Sokolov,west Bohemia,94812,15,13,8,2,10,81.8,9650,3.38,3.67,100,2985,2804
2325293,1787,OWNER,475722.0,30,POPLATEK TYDNE,930322.0,930705.0,96396.0,12.0,8033.0,B,32012.0,EF,8468449.0,8033.2,UVER,523754,970609,VYDAJ,VYBER,4700.0,25886.1,NaN,NaN,0.0,NaN,NaN,NaN,30,Sokolov,west Bohemia,94812,15,13,8,2,10,81.8,9650,3.38,3.67,100,2985,2804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479834,8645,OWNER,495825.0,60,POPLATEK MESICNE,970623.0,981208.0,240900.0,60.0,4015.0,C,42234.0,KL,37808364.0,8919.0,SIPO,2616300,981105,VYDAJ,PREVOD NA UCET,8919.0,17906.7,SIPO,KL,37808364.0,NaN,NaN,NaN,60,Prostejov,south Moravia,110643,49,41,4,1,4,51.9,8441,3.45,4.48,115,1879,2252
479833,8645,OWNER,495825.0,60,POPLATEK MESICNE,970623.0,981208.0,240900.0,60.0,4015.0,C,42234.0,KL,37808364.0,8919.0,SIPO,3476397,981031,PRIJEM,NaN,90.3,26840.3,UROK,NaN,NaN,NaN,NaN,NaN,60,Prostejov,south Moravia,110643,49,41,4,1,4,51.9,8441,3.45,4.48,115,1879,2252
479832,8645,OWNER,495825.0,60,POPLATEK MESICNE,970623.0,981208.0,240900.0,60.0,4015.0,C,42234.0,KL,37808364.0,8919.0,SIPO,2616379,981031,VYDAJ,VYBER,14.6,26825.7,SLUZBY,NaN,NaN,NaN,NaN,NaN,60,Prostejov,south Moravia,110643,49,41,4,1,4,51.9,8441,3.45,4.48,115,1879,2252
479840,8645,OWNER,495825.0,60,POPLATEK MESICNE,970623.0,981208.0,240900.0,60.0,4015.0,C,42234.0,KL,37808364.0,8919.0,SIPO,3476398,981130,PRIJEM,NaN,105.8,28641.6,UROK,NaN,NaN,NaN,NaN,NaN,60,Prostejov,south Moravia,110643,49,41,4,1,4,51.9,8441,3.45,4.48,115,1879,2252
479781,8645,OWNER,495825.0,60,POPLATEK MESICNE,970623.0,981208.0,240900.0,60.0,4015.0,C,42234.0,KL,37808364.0,8919.0,SIPO,3476390,980331,PRIJEM,NaN,70.5,21010.4,UROK,NaN,NaN,NaN,NaN,NaN,60,Prostejov,south Moravia,110643,49,41,4,1,4,51.9,8441,3.45,4.48,115,1879,2252

In [37]:
df[df['date_loan'].isnull()].head(10)

,account_id,type_disp,birth_number,district_id,frequency,date_account,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,1,950324,PRIJEM,VKLAD,1000.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,5,950413,PRIJEM,PREVOD Z UCTU,3679.0,4679.0,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
2,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,199,950423,PRIJEM,VKLAD,12600.0,17279.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
3,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530438,950430,PRIJEM,NaN,19.2,17298.2,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
4,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,6,950513,PRIJEM,PREVOD Z UCTU,3679.0,20977.2,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
5,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,200,950523,PRIJEM,VKLAD,2100.0,23077.2,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
6,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530439,950531,PRIJEM,NaN,79.0,23156.2,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
7,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,7,950613,PRIJEM,PREVOD Z UCTU,3679.0,26835.2,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
8,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,201,950622,VYDAJ,VYBER,200.0,26635.2,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
9,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530440,950630,PRIJEM,NaN,100.6,26735.8,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910

*There doesn't seem to be any relationship between 'date_loan' with other columns.*

* *amount_loan: check the relationship with other columns*

In [38]:
# compute corr
pd.DataFrame(df.corr()['amount_loan'].sort_values(ascending=False))

              amount_loan
amount_loan      1.000000
payments         0.639563
duration         0.609812
amount_order     0.237460
card_id          0.138052
date_loan        0.136160
date_account     0.105496
birth_number     0.081076
amount           0.072940
date             0.068400
A5               0.055642
A16              0.047364
A4               0.046791
A14              0.036857
A8               0.036563
A11              0.032666
balance          0.032622
account          0.031277
trans_id         0.019208
order_id         0.012573
account_id       0.012473
A10              0.000459
A6              -0.011251
account_to      -0.018479
A9              -0.021769
district_id     -0.035856
A1              -0.035856
A7              -0.036005
A13             -0.054344

In [39]:
df[df['amount_loan'].notnull()].sort_values(['amount_loan'], ascending=True)

,account_id,type_disp,birth_number,district_id,frequency,date_account,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
1258554,3354,OWNER,525726.0,63,POPLATEK MESICNE,931105.0,940705.0,4980.0,12.0,415.0,A,34366.0,KL,6017333.0,1540.0,POJISTNE,982839,950607,VYDAJ,PREVOD NA UCET,489.0,27707.1,SIPO,IJ,6930423.0,NaN,NaN,NaN,63,Vyskov,south Moravia,86513,38,36,5,1,5,50.5,8288,3.79,4.52,110,1562,1460
1258337,3354,OWNER,525726.0,63,POPLATEK MESICNE,931105.0,940705.0,4980.0,12.0,415.0,A,34365.0,WX,12488460.0,2704.0,,983308,980413,PRIJEM,VKLAD,3300.0,36770.2,NaN,NaN,NaN,NaN,NaN,NaN,63,Vyskov,south Moravia,86513,38,36,5,1,5,50.5,8288,3.79,4.52,110,1562,1460
1258336,3354,OWNER,525726.0,63,POPLATEK MESICNE,931105.0,940705.0,4980.0,12.0,415.0,A,34365.0,WX,12488460.0,2704.0,,983017,980410,VYDAJ,PREVOD NA UCET,1540.0,33470.2,POJISTNE,KL,6017333.0,NaN,NaN,NaN,63,Vyskov,south Moravia,86513,38,36,5,1,5,50.5,8288,3.79,4.52,110,1562,1460
1258335,3354,OWNER,525726.0,63,POPLATEK MESICNE,931105.0,940705.0,4980.0,12.0,415.0,A,34365.0,WX,12488460.0,2704.0,,982801,980408,PRIJEM,VKLAD,10352.0,35010.2,NaN,NaN,NaN,NaN,NaN,NaN,63,Vyskov,south Moravia,86513,38,36,5,1,5,50.5,8288,3.79,4.52,110,1562,1460
1258334,3354,OWNER,525726.0,63,POPLATEK MESICNE,931105.0,940705.0,4980.0,12.0,415.0,A,34365.0,WX,12488460.0,2704.0,,983089,980407,VYDAJ,VYBER,300.0,25147.2,NaN,NaN,0.0,NaN,NaN,NaN,63,Vyskov,south Moravia,86513,38,36,5,1,5,50.5,8288,3.79,4.52,110,1562,1460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817690,7542,OWNER,670822.0,54,POPLATEK MESICNE,960516.0,971019.0,590820.0,60.0,9847.0,C,40560.0,UV,94022273.0,3389.0,,2286664,960614,PRIJEM,VKLAD,15914.0,16214.0,NaN,NaN,NaN,NaN,NaN,NaN,54,Brno - mesto,south Moravia,387570,0,0,0,1,1,100.0,9897,1.60,1.96,140,18721,18696
817691,7542,OWNER,670822.0,54,POPLATEK MESICNE,960516.0,971019.0,590820.0,60.0,9847.0,C,40560.0,UV,94022273.0,3389.0,,2286873,960615,PRIJEM,VKLAD,4500.0,20714.0,NaN,NaN,NaN,NaN,NaN,NaN,54,Brno - mesto,south Moravia,387570,0,0,0,1,1,100.0,9897,1.60,1.96,140,18721,18696
817692,7542,OWNER,670822.0,54,POPLATEK MESICNE,960516.0,971019.0,590820.0,60.0,9847.0,C,40560.0,UV,94022273.0,3389.0,,3489769,960630,PRIJEM,NaN,46.0,20760.0,UROK,NaN,NaN,NaN,NaN,NaN,54,Brno - mesto,south Moravia,387570,0,0,0,1,1,100.0,9897,1.60,1.96,140,18721,18696
817694,7542,OWNER,670822.0,54,POPLATEK MESICNE,960516.0,971019.0,590820.0,60.0,9847.0,C,40560.0,UV,94022273.0,3389.0,,2286874,960715,VYDAJ,VYBER,6300.0,25069.0,NaN,NaN,NaN,NaN,NaN,NaN,54,Brno - mesto,south Moravia,387570,0,0,0,1,1,100.0,9897,1.60,1.96,140,18721,18696
817633,7542,OWNER,670822.0,54,POPLATEK MESICNE,960516.0,971019.0,590820.0,60.0,9847.0,C,40559.0,OP,63780206.0,3683.0,SIPO,2286759,980505,VYDAJ,PREVOD NA UCET,3389.0,47808.6,,UV,94022273.0,NaN,NaN,NaN,54,Brno - mesto,south Moravia,387570,0,0,0,1,1,100.0,9897,1.60,1.96,140,18721,18696

In [40]:
df[df['amount_loan'].isnull()].head(10)

,account_id,type_disp,birth_number,district_id,frequency,date_account,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,1,950324,PRIJEM,VKLAD,1000.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,5,950413,PRIJEM,PREVOD Z UCTU,3679.0,4679.0,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
2,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,199,950423,PRIJEM,VKLAD,12600.0,17279.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
3,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530438,950430,PRIJEM,NaN,19.2,17298.2,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
4,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,6,950513,PRIJEM,PREVOD Z UCTU,3679.0,20977.2,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
5,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,200,950523,PRIJEM,VKLAD,2100.0,23077.2,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
6,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530439,950531,PRIJEM,NaN,79.0,23156.2,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
7,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,7,950613,PRIJEM,PREVOD Z UCTU,3679.0,26835.2,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
8,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,201,950622,VYDAJ,VYBER,200.0,26635.2,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
9,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,NaN,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530440,950630,PRIJEM,NaN,100.6,26735.8,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910

*There doesn't seem to be any relationship between 'amount_loan' with other columns. This column will be replaced with 0 because we assume the missing values in 'amount_loan' are an accounts that no longer have a loan.*

In [41]:
df['amount_loan'] = df['amount_loan'].fillna(0)

* *duration: check the relationship with other columns*

In [42]:
# compute corr
pd.DataFrame(df.corr()['duration'].sort_values(ascending=False))

              duration
duration      1.000000
amount_loan   0.609812
date_loan     0.153279
card_id       0.110023
date_account  0.105543
date          0.074238
A7            0.067676
A5            0.064046
account       0.063842
A6            0.061435
order_id      0.054683
account_id    0.054558
trans_id      0.048352
A9            0.042998
birth_number  0.036717
district_id   0.015552
A1            0.015552
A8            0.001669
A14          -0.011399
A13          -0.015986
account_to   -0.017808
amount       -0.020823
amount_order -0.038721
A4           -0.040966
A16          -0.041070
A11          -0.045310
balance      -0.054662
A10          -0.066687
payments     -0.096747

In [43]:
df[df['duration'].notnull()].sort_values(['duration'], ascending=True)

,account_id,type_disp,birth_number,district_id,frequency,date_account,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
540904,5622,NaN,NaN,70,POPLATEK MESICNE,930208.0,941102.0,83016.0,12.0,6918.0,A,37742.0,EF,71167778.0,573.0,,1657716,971114,PRIJEM,VKLAD,13800.0,48486.9,NaN,NaN,NaN,NaN,NaN,NaN,70,Karvina,north Moravia,285387,0,2,8,5,7,89.9,10177,6.63,7.75,81,9878,10108
810828,3834,DISPONENT,460210.0,54,POPLATEK MESICNE,930119.0,940928.0,23052.0,12.0,1921.0,A,35053.0,WX,34075695.0,1921.0,UVER,1121972,930912,PRIJEM,VKLAD,13875.0,24956.0,NaN,NaN,NaN,NaN,NaN,NaN,54,Brno - mesto,south Moravia,387570,0,0,0,1,1,100.0,9897,1.60,1.96,140,18721,18696
810829,3834,DISPONENT,460210.0,54,POPLATEK MESICNE,930119.0,940928.0,23052.0,12.0,1921.0,A,35053.0,WX,34075695.0,1921.0,UVER,1122332,930912,VYDAJ,VYBER,2200.0,22756.0,NaN,NaN,0.0,NaN,NaN,NaN,54,Brno - mesto,south Moravia,387570,0,0,0,1,1,100.0,9897,1.60,1.96,140,18721,18696
810830,3834,DISPONENT,460210.0,54,POPLATEK MESICNE,930119.0,940928.0,23052.0,12.0,1921.0,A,35053.0,WX,34075695.0,1921.0,UVER,1122260,930913,VYDAJ,PREVOD NA UCET,262.0,22494.0,,YZ,52872371.0,NaN,NaN,NaN,54,Brno - mesto,south Moravia,387570,0,0,0,1,1,100.0,9897,1.60,1.96,140,18721,18696
810831,3834,DISPONENT,460210.0,54,POPLATEK MESICNE,930119.0,940928.0,23052.0,12.0,1921.0,A,35053.0,WX,34075695.0,1921.0,UVER,1122562,930916,PRIJEM,VKLAD,2700.0,25194.0,NaN,NaN,NaN,NaN,NaN,NaN,54,Brno - mesto,south Moravia,387570,0,0,0,1,1,100.0,9897,1.60,1.96,140,18721,18696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479889,8645,OWNER,495825.0,60,POPLATEK MESICNE,970623.0,981208.0,240900.0,60.0,4015.0,C,42235.0,CD,50500750.0,4015.0,UVER,3502664,980131,PRIJEM,NaN,94.3,19456.2,UROK,NaN,NaN,NaN,NaN,NaN,60,Prostejov,south Moravia,110643,49,41,4,1,4,51.9,8441,3.45,4.48,115,1879,2252
479888,8645,OWNER,495825.0,60,POPLATEK MESICNE,970623.0,981208.0,240900.0,60.0,4015.0,C,42235.0,CD,50500750.0,4015.0,UVER,2616339,980127,VYDAJ,VYBER,2880.0,19264.8,NaN,NaN,NaN,NaN,NaN,NaN,60,Prostejov,south Moravia,110643,49,41,4,1,4,51.9,8441,3.45,4.48,115,1879,2252
479887,8645,OWNER,495825.0,60,POPLATEK MESICNE,970623.0,981208.0,240900.0,60.0,4015.0,C,42235.0,CD,50500750.0,4015.0,UVER,2616387,980119,VYDAJ,VYBER,7400.0,22144.8,NaN,NaN,NaN,NaN,NaN,NaN,60,Prostejov,south Moravia,110643,49,41,4,1,4,51.9,8441,3.45,4.48,115,1879,2252
479893,8645,OWNER,495825.0,60,POPLATEK MESICNE,970623.0,981208.0,240900.0,60.0,4015.0,C,42235.0,CD,50500750.0,4015.0,UVER,2616291,980205,VYDAJ,PREVOD NA UCET,8919.0,5822.6,SIPO,KL,37808364.0,NaN,NaN,NaN,60,Prostejov,south Moravia,110643,49,41,4,1,4,51.9,8441,3.45,4.48,115,1879,2252
394029,11186,DISPONENT,790720.0,12,POPLATEK MESICNE,941124.0,961002.0,392460.0,60.0,6541.0,C,46055.0,UV,92339318.0,6541.2,UVER,3369224,980712,VYDAJ,PREVOD NA UCET,6541.2,91274.6,UVER,UV,92339318.0,NaN,NaN,NaN,12,Pribram,central Bohemia,107870,84,29,6,1,6,58.0,8754,3.83,4.31,137,3804,3868

In [44]:
df[df['duration'].isnull()].head(10)

,account_id,type_disp,birth_number,district_id,frequency,date_account,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,1,950324,PRIJEM,VKLAD,1000.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,5,950413,PRIJEM,PREVOD Z UCTU,3679.0,4679.0,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
2,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,199,950423,PRIJEM,VKLAD,12600.0,17279.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
3,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530438,950430,PRIJEM,NaN,19.2,17298.2,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
4,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,6,950513,PRIJEM,PREVOD Z UCTU,3679.0,20977.2,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
5,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,200,950523,PRIJEM,VKLAD,2100.0,23077.2,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
6,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530439,950531,PRIJEM,NaN,79.0,23156.2,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
7,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,7,950613,PRIJEM,PREVOD Z UCTU,3679.0,26835.2,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
8,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,201,950622,VYDAJ,VYBER,200.0,26635.2,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
9,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,NaN,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530440,950630,PRIJEM,NaN,100.6,26735.8,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910

*There doesn't seem to be any relationship between 'duration' with other columns. This column will be replaced with 0 because we assume the missing values in 'duration' are an accounts that no longer have a loan.*

In [45]:
df['duration'] = df['duration'].fillna(0)

* *payments: check the relationship with other columns*

In [46]:
# compute corr
pd.DataFrame(df.corr()['payments'].sort_values(ascending=False))

              payments
payments      1.000000
amount_loan   0.639563
amount_order  0.361048
amount        0.115224
balance       0.102807
A5            0.082643
A8            0.076435
birth_number  0.039039
A16           0.032511
A4            0.028990
date_account  0.020289
A11           0.018230
A10           0.008135
A14           0.007241
date_loan     0.000329
date          0.000082
A13          -0.011293
account_to   -0.013906
account      -0.015107
district_id  -0.017407
A1           -0.017407
A9           -0.025836
card_id      -0.033780
trans_id     -0.037941
A6           -0.041220
order_id     -0.054564
account_id   -0.054823
duration     -0.096747
A7           -0.100871

In [47]:
df[df['payments'].notnull()].sort_values(['payments'], ascending=True)

,account_id,type_disp,birth_number,district_id,frequency,date_account,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
1903140,6453,OWNER,510710.0,34,POPLATEK MESICNE,960727.0,980517.0,10944.0,36.0,304.0,C,38957.0,EF,98467659.0,541.0,POJISTNE,1905211,970205,PRIJEM,VKLAD,4125.0,19705.9,NaN,NaN,NaN,NaN,NaN,NaN,34,Chomutov,north Bohemia,125236,28,11,1,4,5,87.7,9675,6.43,7.68,100,5323,5190
1902896,6453,OWNER,510710.0,34,POPLATEK MESICNE,960727.0,980517.0,10944.0,36.0,304.0,C,38956.0,KL,17806643.0,695.0,,1905317,961212,VYDAJ,PREVOD NA UCET,541.0,30336.9,POJISTNE,EF,98467659.0,NaN,NaN,NaN,34,Chomutov,north Bohemia,125236,28,11,1,4,5,87.7,9675,6.43,7.68,100,5323,5190
1902897,6453,OWNER,510710.0,34,POPLATEK MESICNE,960727.0,980517.0,10944.0,36.0,304.0,C,38956.0,KL,17806643.0,695.0,,1905281,961212,VYDAJ,PREVOD NA UCET,695.0,29641.9,,KL,17806643.0,NaN,NaN,NaN,34,Chomutov,north Bohemia,125236,28,11,1,4,5,87.7,9675,6.43,7.68,100,5323,5190
1902898,6453,OWNER,510710.0,34,POPLATEK MESICNE,960727.0,980517.0,10944.0,36.0,304.0,C,38956.0,KL,17806643.0,695.0,,1905245,961213,VYDAJ,PREVOD NA UCET,1514.0,28127.9,SIPO,MN,92548077.0,NaN,NaN,NaN,34,Chomutov,north Bohemia,125236,28,11,1,4,5,87.7,9675,6.43,7.68,100,5323,5190
1902899,6453,OWNER,510710.0,34,POPLATEK MESICNE,960727.0,980517.0,10944.0,36.0,304.0,C,38956.0,KL,17806643.0,695.0,,1905353,961218,VYDAJ,VYBER,100.0,28027.9,NaN,NaN,0.0,NaN,NaN,NaN,34,Chomutov,north Bohemia,125236,28,11,1,4,5,87.7,9675,6.43,7.68,100,5323,5190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654540,6950,DISPONENT,660506.0,36,POPLATEK MESICNE,961012.0,970212.0,475680.0,48.0,9910.0,C,39689.0,ST,88771885.0,8561.0,SIPO,2051986,980412,VYDAJ,PREVOD NA UCET,9910.0,60325.6,UVER,IJ,13666057.0,NaN,NaN,NaN,36,Liberec,north Bohemia,159617,29,19,8,1,9,85.2,9198,3.33,4.28,131,5796,6132
654539,6950,DISPONENT,660506.0,36,POPLATEK MESICNE,961012.0,970212.0,475680.0,48.0,9910.0,C,39689.0,ST,88771885.0,8561.0,SIPO,2051914,980405,PRIJEM,VKLAD,22733.0,73235.6,NaN,NaN,NaN,NaN,NaN,NaN,36,Liberec,north Bohemia,159617,29,19,8,1,9,85.2,9198,3.33,4.28,131,5796,6132
654538,6950,DISPONENT,660506.0,36,POPLATEK MESICNE,961012.0,970212.0,475680.0,48.0,9910.0,C,39689.0,ST,88771885.0,8561.0,SIPO,2052083,980405,VYDAJ,VYBER,3000.0,70235.6,NaN,NaN,NaN,NaN,NaN,NaN,36,Liberec,north Bohemia,159617,29,19,8,1,9,85.2,9198,3.33,4.28,131,5796,6132
654516,6950,DISPONENT,660506.0,36,POPLATEK MESICNE,961012.0,970212.0,475680.0,48.0,9910.0,C,39689.0,ST,88771885.0,8561.0,SIPO,2052080,980105,VYDAJ,VYBER,200.0,52179.6,NaN,NaN,NaN,NaN,NaN,NaN,36,Liberec,north Bohemia,159617,29,19,8,1,9,85.2,9198,3.33,4.28,131,5796,6132
654598,6950,DISPONENT,660506.0,36,POPLATEK MESICNE,961012.0,970212.0,475680.0,48.0,9910.0,C,39690.0,IJ,13666057.0,9910.0,UVER,2052066,961111,VYDAJ,VYBER,300.0,23133.0,NaN,NaN,NaN,NaN,NaN,NaN,36,Liberec,north Bohemia,159617,29,19,8,1,9,85.2,9198,3.33,4.28,131,5796,6132

In [48]:
df[df['payments'].isnull()].head(10)

,account_id,type_disp,birth_number,district_id,frequency,date_account,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,1,950324,PRIJEM,VKLAD,1000.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,5,950413,PRIJEM,PREVOD Z UCTU,3679.0,4679.0,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
2,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,199,950423,PRIJEM,VKLAD,12600.0,17279.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
3,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530438,950430,PRIJEM,NaN,19.2,17298.2,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
4,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,6,950513,PRIJEM,PREVOD Z UCTU,3679.0,20977.2,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
5,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,200,950523,PRIJEM,VKLAD,2100.0,23077.2,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
6,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530439,950531,PRIJEM,NaN,79.0,23156.2,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
7,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,7,950613,PRIJEM,PREVOD Z UCTU,3679.0,26835.2,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
8,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,201,950622,VYDAJ,VYBER,200.0,26635.2,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
9,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530440,950630,PRIJEM,NaN,100.6,26735.8,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910

*There doesn't seem to be any relationship between 'payments' with other columns. This column will be replaced with 0 because we assume the missing values in 'payments' are an accounts that no longer have a loan.*

In [49]:
df['payments'] = df['payments'].fillna(0)

* *status: check the relationship with other columns*

In [51]:
df[df['status'].notnull()].sort_values(['status'], ascending=True)

In [ ]:
df[df['status'].isnull()].head(10)

,account_id,type_disp,birth_number,district_id,frequency,date_account,date_loan,amount_loan,duration,payments,status,order_id,bank_to,account_to,amount_order,k_symbol_disp,trans_id,date,type_cc,operation,amount,balance,k_symbol_cc,bank,account,card_id,type,issued,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,1,950324,PRIJEM,VKLAD,1000.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
1,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,5,950413,PRIJEM,PREVOD Z UCTU,3679.0,4679.0,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
2,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,199,950423,PRIJEM,VKLAD,12600.0,17279.0,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
3,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530438,950430,PRIJEM,NaN,19.2,17298.2,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
4,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,6,950513,PRIJEM,PREVOD Z UCTU,3679.0,20977.2,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
5,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,200,950523,PRIJEM,VKLAD,2100.0,23077.2,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
6,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530439,950531,PRIJEM,NaN,79.0,23156.2,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
7,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,7,950613,PRIJEM,PREVOD Z UCTU,3679.0,26835.2,NaN,AB,41403269.0,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
8,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,201,950622,VYDAJ,VYBER,200.0,26635.2,NaN,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910
9,1,OWNER,706213.0,18,POPLATEK MESICNE,950324.0,NaN,0.0,0.0,NaN,NaN,29401.0,YZ,87144583.0,2452.0,SIPO,3530440,950630,PRIJEM,NaN,100.6,26735.8,UROK,NaN,NaN,NaN,NaN,NaN,18,Pisek,south Bohemia,70699,60,13,2,1,4,65.3,8968,2.83,3.35,131,1740,1910

*There doesn't seem to be any relationship between 'status' with other columns. This column will be replaced because we assume the missing values in 'status' are an accounts that no longer have a loan.*